$maroon-red: #420516;
$light-grey: #787a91;
$lighter-grey: #eeeeee;
$dark-grey: #444444;
$pewter-blue: #759aab;
$charcoal: #264653;
$oxford-blue: #011837;
$prussian-blue: #0c2337;
$errorred: #ff3333;
$palegreen: #519872;
